/* Global style */
* {
    margin: 0;
    padding: 0;
}

* {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

/* Common styles */
.section-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 56px;
}

.title-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 12px;
}

.button-primary {
    background-color: #1d4ed8;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 10px;
}

.text-color-secondary {
    color: #575757;
}

.section-padding {
    padding-top: 80px;
    padding-bottom: 80px;
}

.section-title {
    font-size: 56px;
    font-weight: bold;
}

.primary-card-border {
    border: 1px solid #e5e7eb;
    border-radius: 12px;
}

/* Navbar styles */
#navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 60px;
    padding-left: 60px;
    padding-top: 24px;
    padding-bottom: 24px;
}

#navLink-container {
    list-style-type: none;
    display: flex;
    align-items: center;
    gap: 24px;
}

.navLink {
    text-decoration: none;
}

#register-button {
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 42px;
    padding-right: 42px;
}

/* Hero section style */
#hero-container {
    width: 100%;
    height: 65vh;
    background-image:
        linear-gradient(to right, rgba(0, 0, 0, 0.6) 30%, rgba(0, 0, 0, 0) 70%),
        linear-gradient(
            to top right,
            rgba(0, 0, 0, 0.88) 13%,
            rgba(0, 0, 0, 0) 58%
        ),
        url(../assets/banner.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    color: white;
}

#hero-content-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

#hero-header {
    font-size: 80px;
    font-weight: bold;
}

#hero-header-highlight {
    font-style: italic;
}

#hero-content {
    text-align: center;
    font-size: 22px;
    max-width: 800px;
    width: 100%;
}

#hero-button {
    font-size: 24px;
    padding-bottom: 20px;
    padding-top: 20px;
    padding-left: 60px;
    padding-right: 60px;
}

/* Speakers section style */
#speakers-grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 32px;
}

.speaker-image {
    border-radius: 12px 12px 0px 0px;
}

.speaker-content {
    padding: 24px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 8px;
}

.speaker-category {
    font-size: 12px;
    font-weight: 600;
    color: #2563eb;
}

.speaker-name {
    font-size: 20px;
    font-weight: bold;
}

.speaker-role {
    font-size: 14px;
    color: #575757;
}

/* Pricing section style */
#pricing-grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
}

.pricing-card {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 24px;
}

.highlighted-card {
    background-color: #0d1b2a;
}

.price-container {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.plan-name {
    font-size: 13px;
    font-weight: 600;
    color: #888888;
}

.highlighted-plan-name {
    color: #93c5fd;
}

.plan-price {
    font-size: 44px;
    font-weight: 700;
}

.highlighted-plan-price {
    color: white;
}

.plan-price-unit {
    font-size: 13px;
    font-weight: 400;
    color: #888888;
}

.highlighted-plan-price-unit {
    color: hsla(0, 0%, 100%, 0.5);
}

.plan-divider {
    height: 1px;
    width: 100%;
    background-color: #e5e7eb;
}

.highlighted-plan-divider {
    background-color: rgba(255, 255, 255, 0.1);
}

.plan-features li {
    color: #2563eb;
    font-size: 0.8em;
}

.highlighted-features li {
    color: #60a5fa;
}

.plan-features {
    padding-left: 16px;
}

.plan-features li {
    margin-bottom: 16px;
}

.plan-features span {
    display: inline-block;
    font-size: 14px;
    color: #333333;
    padding-right: 80px;
}

.highlighted-features span {
    color: rgba(255, 255, 255, 0.8);
}

#standard-plan-button {
    width: 100%;
    padding: 12px;
    border: 1px solid #2563eb;
    color: #2563eb;
    font-size: 14px;
    font-weight: 600;
    background-color: white;
    border-radius: 8px;
}

.pro-plan-button {
    padding: 12px;
    font-size: 14px;
    font-weight: 500;
    background-color: #2563eb;
}

#team-plan-button {
    width: 100%;
    padding: 12px;
    border: 1px solid #0d1b2a;
    color: #0d1b2a;
    font-size: 14px;
    font-weight: 600;
    background-color: white;
    border-radius: 8px;
}

/* FAQ section style */
.faq-section {
    width: 1200px;
    margin: auto;
}

.faq-list {
    width: 100%;
    display: grid;
    gap: 24px;
}

.faq-item {
    width: 100%;
    border: 1px solid #1b4047;
    border-radius: 16px;
}

.faq-item summary {
    list-style: none;
    padding: 24px 24px;
    font-size: 18px;
    font-weight: 600;
}

.faq-item p {
    padding: 0 1.5rem 1.5rem;
    color: #52585a;
}
/* Footer section style */
footer {
    padding-left: 114px;
    padding-right: 114px;
    padding-bottom: 60px;
    padding-top: 60px;
    background-color: #0d1b2a;
    color: rgba(255, 255, 255, 0.4);
}

footer a {
    color: rgba(255, 255, 255, 0.4);
    text-decoration: none;
}

footer li {
    list-style: none;
}

.footer-container {
    display: flex;
    justify-content: space-between;
}

.footer-links {
    display: flex;
    gap: 24px;
}
